<nav class="navbar navbar-expand-sm bg-primary navbar-dark mb-3">
	<div class="container">
		<a href="/" class="navbar-brand"></a>
	</div>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"></button>
</nav>